
:root {
    /* --accent-color: orange; */
    --accent-color: #2196F3; 
    --secondary-color:  #212121;
    --secondary-font-family: 'Raleway', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #757575;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
}

.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
}

.project-description {
    font-size: 16px;
    line-height: 1.87;
}

.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height:1.18;
    text-align: center;
    color: var(--secondary-color);
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.quality-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.quality-description {
    font-size: 14px;
    line-height: 1.71;
}

.headers2 {
    text-align: center;
    color: var(--secondary-color)
}

.roles {
    font-size: 16px;
    line-height: 1.71;
    text-align: center;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.order-btn {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.link-logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.filter-btn {
    background-color: #F5F4FA;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.link-logo-black {
    color: var(--secondary-color);
}

.main-h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
}

.address {
    font-style: normal;
    line-height: 1.71;
}